{% extends 'base.html' %}
{% load url from future %}
{% block content %}
<div class="page_dayroll">
{% for post in all_posts %}
	<div class='each_post'>
	<p class='post_date'><a href="{% url 'daypost' post.id %}">{{ post.creation_date }}</a></p>
	{{ post.entry_html|safe }}
	</div>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if all_posts.has_previous %}
            <a href="?page={{ all_posts.previous_page_number }}">&laquo; prev</a>
        {% else %}
			<span class='disabled_pagination'>&laquo; prev</span>
        {% endif %}

        <span class="current">
            Page {{ all_posts.number }} of {{ all_posts.paginator.num_pages }}.
        </span>

        {% if all_posts.has_next %}
            <a href="?page={{ all_posts.next_page_number }}">next &raquo;</a>
        {% else %}
			<span class='disabled_pagination'>next &raquo;</span>
        {% endif %}

    </span>
</div>

</div>
{% endblock %}